.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.title-form {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.input {
  border-radius: 10px;
  background: #e8e8e8;
  border: 0px;
  padding: 5px 16px;
}
.input-description {
  border-radius: 10px;
  background: #e8e8e8;
  border: 0px;
  padding: 5px 16px;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.button-form {
  border-radius: 10px;
  padding: 5px;
  background: #696969;
  color: #fff;
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 0px;
}
.button-form:hover {
  background-color: black;
}
.button-clear {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #696969;
  background-color: #fff;
}
.button-clear:hover {
  background-color: #fae8e8;
}
.foto-input {
  margin: 10px 0px;
}
