.statistic-div {
  text-align: start;
  margin-top: 10px;
  padding-top: 16px;
  border-top: 1px solid #c4c4c4;
}
.title-stat {
  color: #000;
  /* font-family: Saira; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.stat-item {
  padding-top: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.stat-value {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
