.main {
  padding: 10px 24px 64px 24px;
}
.section-main {
  /* padding: 24px 24px 64px 24px; */
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.bike-list-div {
}
.bike-service-div {
  width: 302px;
}

.App-header {
  background-color: #696969;
  padding: 4px 16px;
  font-size: calc(10px + 2vmin);
  color: #e8e8e8;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.author {
  color: #cbcaca;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.author-name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
